In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\noh sung been\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\noh sung been\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\noh sung been\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\noh sung been\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\noh sung been\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd
import numpy as np

In [7]:
# Display the help document
np?

Type:        module
String form: <module 'numpy' from 'C:\\Users\\Noh Sung Been\\anaconda3\\lib\\site-packages\\numpy\\__init__.py'>
File:        c:\users\noh sung been\anaconda3\lib\site-packages\numpy\__init__.py
Docstring:
NumPy
=====

Provides
  1. An array object of arbitrary homogeneous items
  2. Fast mathematical operations over arrays
  3. Linear Algebra, Fourier Transforms, Random Number Generation

How to use the documentation
----------------------------
Documentation is available in two forms: docstrings provided
with the code, and a loose standing reference guide, available from
`the NumPy homepage <https://www.scipy.org>`_.

We recommend exploring the docstrings using
`IPython <https://ipython.org>`_, an advanced Python shell with
TAB-completion and introspection capabilities.  See below for further
instructions.

The docstring examples assume that `numpy` has been imported as `np`::

  >>> import numpy as np

Code snippets are indicated by three greater-than signs::

  >>> x = 42
  >>> x = x + 1

Use the built-in ``help`` function to view a function's docstring::

  >>> help(np.sort)
  ... # doctest: +SKIP

For some objects, ``np.info(obj)`` may provide additional help.  This is
particularly true if you see the line "Help on ufunc object:" at the top
of the help() page.  Ufuncs are implemented in C, not Python, for speed.
The native Python help() does not know how to view their help, but our
np.info() function does.

To search for documents containing a keyword, do::

  >>> np.lookfor('keyword')
  ... # doctest: +SKIP

General-purpose documents like a glossary and help on the basic concepts
of numpy are available under the ``doc`` sub-module::

  >>> from numpy import doc
  >>> help(doc)
  ... # doctest: +SKIP

Available subpackages
---------------------
doc
    Topical documentation on broadcasting, indexing, etc.
lib
    Basic functions used by several sub-packages.
random
    Core Random Tools
linalg
    Core Linear Algebra Tools
fft
    Core FFT routines
polynomial
    Polynomial tools
testing
    NumPy testing tools
f2py
    Fortran to Python Interface Generator.
distutils
    Enhancements to distutils with support for
    Fortran compilers support and more.

Utilities
---------
test
    Run numpy unittests
show_config
    Show numpy build configuration
dual
    Overwrite certain functions with high-performance SciPy tools.
    Note: `numpy.dual` is deprecated.  Use the functions from NumPy or Scipy
    directly instead of importing them from `numpy.dual`.
matlib
    Make everything matrices.
__version__
    NumPy version string

Viewing documentation using IPython
-----------------------------------
Start IPython with the NumPy profile (``ipython -p numpy``), which will
import `numpy` under the alias `np`.  Then, use the ``cpaste`` command to
paste examples into the shell.  To see which functions are available in
`numpy`, type ``np.<TAB>`` (where ``<TAB>`` refers to the TAB key), or use
``np.*cos*?<ENTER>`` (where ``<ENTER>`` refers to the ENTER key) to narrow
down the list.  To view the docstring for a function, use
``np.cos?<ENTER>`` (to view the docstring) and ``np.cos??<ENTER>`` (to view
the source code).

Copies vs. in-place operation
-----------------------------
Most of the functions in `numpy` return a copy of the array argument
(e.g., `np.sort`).  In-place versions of these functions are often
available as array methods, i.e. ``x = np.array([1,2,3]); x.sort()``.
Exceptions to this rule are documented.

In [4]:
# Print the version of pandas
pd.__version__

'1.4.2'

In [5]:
"""
    Pandas Object: Series
"""
# Create a series from a list
ser = pd.Series([0.25, 0.5, 0.75, 1.0])
print(ser)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [15]:
# Two main attributes: 'values' and 'index'
print(ser.values)
print(ser.index)
print(ser.index.values)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)
[0 1 2 3]

In [17]:
# Label-based Indexing
ser = pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])
print(ser)  
ser['b']

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

2

In [ ]:
"""
Dictionary and Series
"""

In [6]:
"""
Create a series from a dictionary
"""
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   "New York": 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
print(population)
print(population['Texas'])
print(population['California' : 'Florida'])

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
26448193
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [14]:
"""
    Pandas object: DataFrame
"""

area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
            'Florida': 170312, 'Illinois': 149995}
print(pd.Series(area_dict))
area = pd.Series(area_dict)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [15]:
# Construct a DataFrame containing 'population' and 'area' Series
states = pd.DataFrame({'population': population, 'area': area})

print(states)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [7]:
# Construct a DataFrame from a 2D NumPy array

arr = np.random.rand(3, 2)

In [16]:
"""
Series object manipulation: dictionary-style
"""

ser = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])

print(ser['b'])
print('z' in ser)
print(0.25 in ser)
print(ser.keys())
ser['e'] = 1.25 # 값 추가
print(ser)

0.5
False
False
Index(['a', 'b', 'c', 'd'], dtype='object')
a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [17]:
"""
Series object manipulation: array-style
"""
states.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [19]:
states['density'] = states['population']/states['area']
states

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [9]:
"""s
Caution: Slicing Series object using explicit/implicit indexing
"""

ser = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

In [ ]:
"""
DataFrame object manipulation
"""

In [27]:
# Indexer: loc, iloc

states.iloc[:3]

ser = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
print(ser)
print(ser.iloc[1])
print(ser.loc[1:3])
print(ser.iloc[1:3])

1    a
3    b
5    c
dtype: object
b
1    a
3    b
dtype: object
3    b
5    c
dtype: object

In [28]:
"""
    DataFrame as two-dimensional array
"""

states.T.T

            population      area     density
California  38332521.0  423967.0   90.413926
Texas       26448193.0  695662.0   38.018740
New York    19651127.0  141297.0  139.076746
Florida     19552860.0  170312.0  114.806121
Illinois    12882135.0  149995.0   85.883763

In [32]:
# Masking and fancy indexing using the loc indexer
states.loc[states.density > 100, ['population', 'density']]
states

            population    area     density
California    38332521  423967   90.413926
Texas         27000000  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [31]:
states.iloc[1, 0] = 27000000
states

            population    area     density
California    38332521  423967   90.413926
Texas         27000000  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763