In [1]:
import pandas as pd
import numpy as np

In [2]:
"""
    numpy.concatenate()
"""

x = [ 1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]

np.concatenate([x, y, z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
"""
    pandas.concat()
"""
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [4]:
# make_df(): create a DataFrame object
def make_df(cols, ind):
    data = {c: [str(c) + str(i) for i in ind]
           for c in cols}

    return pd.DataFrame(data, ind)

print(make_df('ABC', [1, 2]))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

In [5]:
# Concatenate the two DataFrame objects

df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])

print(df1)
print(df2)

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4

In [6]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
print(df3)
print(df4)

    A   B
0  A0  B0
1  A1  B1
    C   D
0  C0  D0
1  C1  D1

In [7]:
"""
    concate() Features
"""

# Case 1: Duplicate indices
x = make_df('AB', [0, 1])
y = make_df('AB',  [0, 1])
            
print(x, '\n')
print(y, '\n')

    A   B
0  A0  B0
1  A1  B1

    A   B
0  A0  B0
1  A1  B1

In [8]:
# Case 2: Catching duplications as errors

try:
    pd.concat([x, y], verify_integrity=True)

except ValueError as e:
    print("ValueError: ", e)

ValueError:  Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

In [9]:
# Case 3: Ignore the index: 
pd.concat([x, y], ignore_index=True)

    A   B
0  A0  B0
1  A1  B1
2  A0  B0
3  A1  B1

In [10]:
"""
    concat(): join options
"""
x = make_df('ABC', [1, 2])
y = make_df('BCD',[3, 5])

print(x, '\n')
print(y, '\n')

print( pd.concat([x, y], join = 'outer'), '\n')
print( pd.concat([x, y], join = 'inner'), '\n')

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

    B   C   D
3  B3  C3  D3
5  B5  C5  D5

     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
5  NaN  B5  C5   D5

    B   C
1  B1  C1
2  B2  C2
3  B3  C3
5  B5  C5

In [11]:
# inner join -> intersection

In [12]:
"""
    Join operations
"""

# Prepare the two DataFrame objects
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                   'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})

df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                   'hire_date': [2004, 2008, 2012, 2014]})

In [16]:
# One-to-one joins
df3 = pd.merge(df1, df2)
print(pd3)

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [17]:
# Many-to-one joins
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                   'supervisor': ['Carly', 'Guido', 'Steve']})
print(df4)

         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve

In [19]:
# Many-to-many joins

df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                             'Engineering', 'Engineering',
                             'HR', 'HR'],
                   'skills': ['math', 'spreadsheets', 'coding',
                             'linux', 'spreadsheets', 'organization']})
print(df5)

         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization

In [ ]:
"""
    Specifying the merge Key
"""

# 'on' argument: use a common column as merge key
print(df1, "\n")
print(df2, "\n")

df1["age"] = pd.Series([25, 30, 47, 45])
df2["age"] = pd.Series([30, 45, 42, 41])

df3 = pd.merge(df1, df2, on = "employee")
print(df3)

In [20]:
# 'left_on' and 'right_on' arguments:

df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                   'salary': [70000, 80000, 120000, 90000]})
print( df1, '\n')
print(df3, '\n')

print(pd.merge(df1, df3, left_on = 'employee', right_on = 'name'))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000

  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

# 'left_index' and 'right_index' arguments

In [ ]:
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')